.login-wrapper {
  width: 40%;
  height: auto;
  padding: 7px;
}

.login-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

ion-item {
  margin-top: 10px;
  border-radius: 5px;
}

ion-item.bottom {
  margin-bottom: 10px;
}
